<div class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="posts">Posts</a></li>
      <li routerLinkActive="active"><a routerLink="new-post">Nouveau post</a></li>
    </ul>
  </div>
</div>