<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Nouveau post</h2>

    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>

      <div class="form-group">
        <label for="content">Contenu</label>
        <textarea id="content" class="form-control" formControlName="content" rows="3"></textarea>
      </div> 

      <button class="btn btn-primary" type="submit" [disabled]="postForm.invalid">Ajouter</button>
    </form>
  </div>
</div>